body {
  background-color: #cdc6ac;
  font-family: "IM Fell DW Pica", serif;
  margin: 0 auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  max-width: 1280px;
  padding-bottom: 2.5rem;
  /* Footer height */
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 54px;
  font-style: italic;
  text-decoration: overline;
  margin: 0;
}

.tv-header {
  background-image: url(./assets/pattern_overlapping-hexagons_0.5_2_0-0_0_1__cdc6ac_ffffff.png);
  background-size: cover;
}

.tv-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.tv-header .header-text {
  width: 40%;
  color: #a85d36;
  line-height: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tv-header .text-container {
  width: 50%;
}

.tv-header .image-container {
  width: 50%;
  margin-right: -100px;
}

.tv-header .image-container .header-image {
  background-color: transparent;
  width: 100%;
  position: relative;
  top: 6px;
  left: 10px;
}

.quiz-container {
  width: 80%;
  margin: auto;
  background-color: #e0e1d8;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 70px 10px;
}

.quiz-container h3 {
  background-color: #f0f0f3ae;
  color: #a85d36;
  font-size: 24px;
}

.quiz-container p {
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 90px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.button-container button {
  width: 80%;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-family: "IM Fell DW Pica", serif;
  font-size: 20px;
  text-transform: uppercase;
}

.button-container button:hover, .button-container button:focus {
  cursor: pointer;
  background-color: #cdc6ac;
  border: 2px solid #b0a19d;
}

.right-answer {
  border: 5px solid green;
}

.wrong-answer {
  border: 5px solid red;
}

.next-button {
  width: 200px;
  height: 45px;
  margin: 20px 0;
  float: right;
  background-color: #f0f0f3;
  border: none;
  color: #a85d36;
  font-size: larger;
  font-weight: 800;
  border-radius: 10px;
  -webkit-box-shadow: inset -10px -10px 10px #ffffff70, inset 10px 10px 10px #aeaec020;
          box-shadow: inset -10px -10px 10px #ffffff70, inset 10px 10px 10px #aeaec020;
}

.next-button:hover, .next-button:focus {
  cursor: pointer;
  background-color: #a85d36;
  color: #f0f0f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.answer-container .youtube {
  padding-top: 80px;
}

.answer-container .youtube iframe {
  width: 100%;
}

#footer {
  position: absolute;
  background-color: #a85d36;
  bottom: 0;
  width: 100%;
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer p {
  text-align: center;
  color: #e0e1d8;
  font-size: 16px;
  font-weight: 800;
}

@media (max-width: 480px) {
  .tv-header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tv-header .header-text {
    width: 100%;
    margin-top: 50px;
    line-height: 2.5rem;
  }
  .tv-header .image-container {
    margin-right: 0;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  .quiz-container h3 {
    font-size: 22px;
  }
  .quiz-container p {
    font-size: 22px;
    padding: 10px 40px;
  }
  .button-container button {
    font-size: 18px;
  }
  #footer {
    padding-bottom: 1rem;
    height: 40px;
  }
}
/*# sourceMappingURL=App.css.map */